* {
    margin: 0;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/gilroy-regular.ttf);
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/gilroy-medium.ttf);
}
@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(../fonts/gilroy-semibold.ttf);
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/gilroy-bold.ttf);
}

.header {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}
.arrow {
    opacity: 0.6;
}
.menu-item-home {
    color: #F25822;
}

.content {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
    margin-bottom: 162px;
}
.content-left {
    width: 522px;
}
.content-lead {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-second {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
    margin-right: 56px;
}
.content-button{
    display: flex;
    margin-top: 37px;
    gap: 72px;
    align-items: center;
}
.content-button-lead {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
}
.content-button-text{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logos {
    padding-top: 97px;
    padding-bottom: 96px;
    
    
}
.logo {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1200px;
    padding-left: 0%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.card-item {
    width: 310px;
    padding-top: 140px;
    padding-bottom: 125px;
}
.card-item-center {
    width: 370px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.card-item-center:hover{
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.card-item-title{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
}
.card-item-text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 17px;
    width: 310px;
}
.card-item-button{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 25px;
    border: none;
    background-color: white;
}
.img-center{
    padding-left: 30px;
    padding-top: 40px;
}
.title-center {
    padding-left: 29px;
}
.text-center {
    padding-left: 29px;
}
.button-center {
    padding-left: 29px;
    padding-bottom: 25px;
}